<%= form_for([@discussion.board, @discussion], html: { class: 'discussion-reply-form', multipart: true }) do |d| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= d.fields_for :posts, @post do |p| %>
    <div class="one-third column alpha row">
      <div class="field">
        <%= p.label :title %>
        <%= p.text_field :title, :maxlength => APP_CONFIG['max_title_length'], placeholder: "The Weather" %>
      </div>
      <div class="field">
        <%= p.label :text %>
        <%= p.text_area :text, size: "40x10", :maxlength => APP_CONFIG['max_text_length'], placeholder: "New reply." %>
      </div>
      <div class="field">
        <%= p.label :content.to_s + " (max #{APP_CONFIG['max_content_size_mb']}㎆)" %>
        <%= p.file_field :content %>
      </div>
    </div>
  <% end %>

  <div class="actions one-third column">
    <%= d.submit @submit_label %>
  </div>
<% end %>