<!-- form_for(@discussion, html: { multipart: true }, remote: true) do |f| -->
<%= form_for(@discussion, html: { multipart: true }) do |d| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= d.fields_for :posts, @post do |p| %>
    <div class="field">
      <%= p.label :title %>
      <%= p.text_field :title %>
    </div>
    <div class="field">
      <%= p.label :text %><br />
      <%= p.text_area :text %>
    </div>
    <div class="field">
      <%= p.label :content %>
      <%= p.file_field :content %>
    </div>
  <% end %>

  <div class="actions">
    <%= d.submit @submit_label %>
  </div>
<% end %>