<div class="sixteen columns">
    <div class="two-thirds column">
        <%= render @discussion.posts %>

        <% if session[:user_id] %>
            <div class="admin-controls row">
                <%= link_to 'E (Discussion)', edit_discussion_path(@discussion) %>
            </div>
        <% end %>
    </div>

    <div class="discussion-info one-thirds column">
        <div id="discussion-info-id">
            <h3>d<%= @discussion.id %></h3>
            <h4>@<%= link_to @discussion.board.title, @discussion.board %></h4>
        </div>

        <div id="discussion-info-post-count">
            <%= pluralize(@discussion.posts.count, 'post') %>
        </div>

        <div id="discussion-info-time">
            <div id="discussion-info-last-post-time">Last post <%= Time.at(@discussion.last_post_at).utc %></div>
            <div id="discussion-info-last-post-time-relative"><%= (Time.now - Time.at(@discussion.last_post_at)).to_i / 60 %> minutes ago</div>
        </div>

        <% if !@discussion.posts_count_at_limit %>
            <%= render partial: 'form' %>
            <p id="notice"><%= notice %></p>
        <% else %>
            <p id="notice">
                <%= @discussion.errors.full_messages.join("<br>") %>
                <%= notice %>
            </p>
        <% end %>
    </div>
</div>