<%= link_to @discussion.board.title, @discussion.board %>

<p id="notice"><%= notice %></p>

<div class="discussion-info">
    <div id="discussion-info-id">
        <h4>d<%= @discussion.id %></h4>
    </div>
    <div id="discussion-info-time">
        <div>Last Post at <%= Time.at(@discussion.last_post_at).to_s %></div>
        <div><%= (Time.now - Time.at(@discussion.last_post_at)).to_i / 60 %> minutes ago</div>
    </div>

    <%= render partial: 'form' %>
</div>

<%= render @discussion.posts %>

<%= link_to 'Edit', edit_discussion_path(@discussion) if session[:user_id] %>
