<div class="container admin-toolbox">
    <div class="sixteen columns">
        <%= link_to 'Users', users_path %>
        <%= link_to 'Boards', boards_path %>
        <%= link_to 'Discussions', discussions_path %>
        <%= link_to 'Posts', posts_path %>
        <%= link_to 'Flagged', posts_flagged_path %>

        <span class="admin-logout">
            <%= link_to 'Logout', logout_path, method: :delete %>
        </span>

        <span class="admin-username">
            <%= User.find(session[:user_id]).name %>
        </span>
    </div>
</div>