<table>
  <tr>
    <th>ID</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.id %></td>
    <td><%= render listing_posts(discussion) %></td>
    <td><%= link_to 'Show', discussion %></td>
    <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
    <td><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p><%= will_paginate @discussions %></p>