<%= form_for(@board, html: { multipart: true, class: 'discussion-reply-form'}) do |b| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= b.fields_for :discussions, @discussion do |d| %>
    <%= d.fields_for :posts, @post do |p| %>
      <div class="field">
        <%= p.label :title %>
        <%= p.text_field :title, placeholder: "Title" %>
      </div>
      <div class="field">
        <%= p.label :text %>
        <%= p.text_area :text, size: "40x10", placeholder: "Text" %>
      </div>
      <div class="field">
        <%= p.label :content %>
        <%= p.file_field :content %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= b.submit @submit_label %>
  </div>
<% end %>