<% @title = @board.title %>
<div class="sixteen columns">
    <div class="two-thirds column row">
        <%= render partial: 'shared/discussion_summary_listing' %>

        <% if session[:user_id] %>
            <div class="admin-controls row">
                <%= link_to 'E (Board)', edit_board_path(@board) %>
            </div>
        <% end %>
    </div>

    <div class="board-info one-thirds column">
        <h2 class="board-title"><%= @board.title %></h2>
        <p><%= link_to "Catalog", board_catalog_path(@board) %></p>
        <%= render partial: 'new_discussion_form' %>
        <p id="notice"><%= notice %></p>
    </div>
</div>