<h1>Listing post_links</h1>

<table>
  <tr>
    <th>Post from</th>
    <th>Post to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_links.each do |post_link| %>
  <tr>
    <td><%= post_link.post_from %></td>
    <td><%= post_link.post_to %></td>
    <td><%= link_to 'Show', post_link %></td>
    <td><%= link_to 'Edit', edit_post_link_path(post_link) %></td>
    <td><%= link_to 'Destroy', post_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post link', new_post_link_path %>
