<div class="post" id="#p<%= post.id %>">
    <div class="post-thread">
        <%= link_to post.discussion.id, post.discussion %>
    </div>

    <div class="post-id">
        <%= link_to post.id, "#{url_for post.discussion}#p#{post.id}" %>
    </div>

    <div class="post-timestamp">
        <%= post.created_at %>
    </div>

    <% if post.content? %>
        <div class="post-content">
            <%= image_tag post.content.url %>
        </div>
    <% end %>

    <% if post.title? %>
        <div class="post-title">
            <%= post.title %>
        </div>
    <% end %>

    <% if post.text? %>
        <div class="post-text">
            <%= post.text %>
        </div>
    <% end %>
</div>