<h1>Editing <%= link_to "#{@post.discussion.board.short_form}-#{@post.discussion.id}##{@post.id}", @post %></h1>
<div class="sixteen columns row">
    <%= link_to 'Back', :back %>
</div>

<div id="notice">
    <%= notice %>
</div>

<%= render @post %>

<%= render 'form' %>