<h1>Editing <%= link_to "#{@post.discussion.board.short_form}-#{@post.discussion.id}##{@post.id}", @post %></h1>
<div class="sixteen columns row">
    <%= link_to 'Back', :back %>
</div>

<div id="notice">
    <%= notice %>
</div>

<%= render 'form' %>

<% if @post.content? %>
    <%= link_to image_tag(@post.content.url(:thumb)), @post.content.url %>
<% else %>
    <p>No content.</p>
<% end %>