<% @title = "#{@post.discussion.board.short_form}-#{@post.discussion.id}##{@post.id} - Threaded" %>

<% backquotes = PostLink.where(["post_to = ?", @post.id]).all %>
<% backquotes_posts = Array.new %>
<% backquotes.each do |post_link| %>
    <% if (p = Post.find_by_id(post_link.post_from)) %>
        <% backquotes_posts.push p %>
    <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class="two-thirds column">#<%= @post.id %> threaded view</h1>

<div class="post-thread-info one-thirds column">
    <div id="post-thread-info-id">
        <h3><%= link_to "d#{@post.discussion.id}", [@post.discussion.board, @post.discussion] %></h3>
        <h4>@<%= link_to @post.discussion.board.title, @post.discussion.board %></h4>
    </div>

    <div id="post-thread-info-post-count">
        <%= pluralize(@post.discussion.posts.count, 'post') %>
    </div>

    <div id="post-thread-info-time">
        <div id="post-thread-info-last-post-time-relative">
            Lastest <%= distance_of_time_in_words(Time.at(@post.discussion.last_post_at), Time.now) %> ago
        </div>
    </div>
</div>

<div class="two-thirds column">
    <%= render @post %>
    <%= render backquotes_posts %>
</div>