<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title><%= @title ? @title : "rib" %></title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "skeleton-base", :media => "all" %>
    <%= stylesheet_link_tag    "skeleton", :media => "all" %>
    <%= stylesheet_link_tag    "skeleton-layout", :media => "all" %>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- Favicons -->
    <link rel="shortcut icon" href="<%= root_path %>favicon.png" >
    <link rel="apple-touch-icon" href="<%= root_path %>apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= root_path %>apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= root_path %>apple-touch-icon-114x114.png">
</head>

<body>
    <%= render partial: '/shared/board_switcher' %>

    <div class="container">
        <%= yield %>
    </div>

    <% if session[:user_id] %>
        <%= render partial: '/shared/admin_toolbox' %>
    <% end %>
</body>
</html>
